{% extends "base.html" %}
{% block content %}
    <table>
        <tr>
            <th>№</th>
            <th>Исполнитель</th>
            <th>Дата</th>
            <th>Зона</th>
            <th>Риск</th>
            <th>Значение</th>
            <th>Редактировать</th>
        </tr>
        {% for audit in audits %}
        <tr>
            <td>{{ audit.id }}</td>
            <td>{{ audit.performer.last_name }}</td>
            <td>{{ audit.date_added|date:"d.m.Y" }}</td>
            <td>{{ audit.audit_zone }}</td>
            <td>{{ audit.type_of_risk }}</td>
            <td class="{{audit.level_of_risk}}">{{ audit.level_of_risk }}</td>
            <td><a href="{% url 'edit_audit' audit.id %}"><img src="/static/image/pen.png"></a></td>

        </tr>
        {% empty %}
    </table>
    {% endfor %}
{% endblock content %}